<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Bus Bus</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="shortcut icon"
      href="./images/1x/baseline_directions_bus_black_18dp.png"
    />
  </head>
  <body>
    <div id="app" class="container">
      <div v-if="missingParams">
        You are missing some parameters! You need: stops=[]&routes=[]
        <a href="./?stops=[369,285,91]&routes=[10,30]">like this</a>
      </div>
      <div
        class="card"
        v-for="(stop, index) in wantedStops"
        :key="'id' + stop.id"
      >
        <div class="card-body">
          <h5 class="card-title">{{ stop.code }}: {{ stop.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ stop.description }}</h6>

          <div class="card-text">
            <span v-if="stop.dist">dist:~{{ round(stop.dist, 3) }}km</span>
            <div v-if="stop.arrivals && stop.arrivals.length > 0">
              <ul class="list-group">
                <li
                  class="list-group-item"
                  v-bind:class="[(arrival.type == 'live') ? 'bg-info' : '']"
                  v-for="(arrival, index) in stop.arrivals"
                  :key="index+ 'arr' + stop.id"
                >
                  <div>
                    {{ arrival.type }}:
                    {{wantedRoutes.find(wr => wr.id == arrival.route).short_name}}
                  </div>
                  <div v-if="arrival.type == 'live'">
                    Stops away: {{ arrival.stopsAway }}
                  </div>
                  <div>ETA: {{ arrival.avg }} mins</div>
                </li>
              </ul>
            </div>
            <div v-if="stop.updated">
              updated: {{ stop.updated.toLocaleTimeString() }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./utils.js"></script>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          message: "Hello Vue!",
          paramStops: [],
          wantedStops: [],
          paramRoutes: [],
          wantedRoutes: [],
          allRoutes: [],
          allStops: [],
          liveBuses: [],
          checkDelay: 10000,
          shouldCheck: true,
          missingParams: false
        },
        methods: {
          queryBuses: async function() {
            //fetches buses and sets.
            const allBuses = await getBuses();

            //go ahead and filter the buses down to buses for routes we care about.
            this.liveBuses = allBuses.filter(b =>
              this.wantedRoutes.map(wr => wr.id).includes(b.route)
            );
            console.log("buses set:", this.liveBuses);
          },
          queryStops: function() {
            //each time stop ETAs are updated, get the live bus info as well.
            this.queryBuses();

            // console.log("checking for updates");
            this.wantedStops.forEach(stop => {
              //   const stopId = stop.id;
              let me = this;

              setTimeout(() => me.updateStop(stop), 0);
            });
          },
          updateStop: async function(stop) {
            let res = await myFetchAsJSON(baseUrl + stopSuff + stop.id);
            //weird formatting. Here's how to get the info I want out of the response:
            res = res.etas[stop.id].etas;
            // window.res = res; // debugging
            //only get the bus etas for the routes specified.
            res = res.filter(r =>
              this.wantedRoutes.map(wr => wr.id).includes(r.route)
            );
            //trigger vue reset. do I need this over a simple assignment?
            stop.arrivals = [];
            stop.arrivals.push(...res);
            //indicate when it has been updated.
            stop.updated = new Date();

            //set the number of stops away the LIVE arrivals are.
            let liveArrivals = stop.arrivals.filter(ar => ar.type == "live");
            liveArrivals.forEach(arrival => {
              //assuming the liveBuses prop has been recently set.
              const busStatus = this.liveBuses.find(
                b => b.id == arrival.bus_id
              );
              const lastStop = busStatus.lastStop;
              const imatStopID = stop.id;
              const curRoute = this.allRoutes.find(r => r.id == arrival.route);
              const curRouteStops = curRoute.stops;
              const myStopIndex = curRouteStops.indexOf(imatStopID);
              const lastBusStopIndex = curRouteStops.indexOf(lastStop);
              const stopsAway =
                myStopIndex > lastBusStopIndex
                  ? myStopIndex - lastBusStopIndex
                  : curRouteStops.length - lastBusStopIndex + myStopIndex;
              console.log("curroute", curRoute);
              console.log("my stop id:", imatStopID);
              console.log("lastStop was:", lastStop);
              console.log("stop list:", curRouteStops);
              console.log("stops away:", stopsAway);
              arrival.stopsAway = stopsAway;
              // console.log("arrival:", arrival, "bus status:", busStatus);
            });
            // Vue.set(this.stop.arrivals,res)
            // console.log(res);
          },
          initializeStops: function() {
            this.wantedStops.forEach(stop => {
              //must use vue to initialize this property.
              Vue.set(stop, "arrivals", []);
              Vue.set(stop, "updated", null);
            });
          },
          keepChecking: function() {
            if (this.shouldCheck) {
              this.queryStops();
              let me = this;
              setTimeout(me.keepChecking, this.checkDelay);
            }
          },
          updatePosition: function(p) {
            console.log(p);
            //p.coords.latitude
            //stop.lat/lon
            //set all distances:
            this.wantedStops.forEach(ws => {
              ws.dist = getDist(
                p.coords.latitude,
                p.coords.longitude,
                ws.lat,
                ws.lon
              );
            });
            this.wantedStops = this.wantedStops.sort((a, b) => a.dist - b.dist);
          },
          matchRoutes(...ids) {
            let result = {};
            ids.forEach(id => {
              //find the
              result[id] = this.allRoutes.find(r =>
                this.paramRoutes.includes(
                  parseInt(r.short_name.replace(/[a-zA-Z]/g, ""))
                )
              );
            });
            return result;
          }
        },
        mounted: async function() {
          const params = getParams();
          console.log("params", params);
          try {
            this.paramStops = JSON.parse(params.stops);
            this.paramRoutes = JSON.parse(params.routes);
          } catch (e) {
            console.log("missing parameters!");
            console.log(e);
            this.missingParams = true;
          }
          //sets routes from localstorage or from api.
          this.allRoutes = await getRoutes();
          console.log("routes are", this.routes);

          //sets stops from local or api:
          this.allStops = await getStops();

          this.wantedStops = this.allStops.filter(s =>
            this.paramStops.includes(parseInt(s.code))
          );
          console.log("wantedStops", this.wantedStops);
          this.initializeStops();
          this.wantedRoutes = this.allRoutes.filter(r =>
            app.paramRoutes.includes(
              parseInt(r.short_name.replace(/[a-zA-Z]/g, ""))
            )
          );
          console.log("wantedRoutes", this.wantedRoutes);

          //query each stop info:
          //   this.queryStops();
          this.keepChecking();

          //watch and order by position:
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(this.updatePosition);
            navigator.geolocation.watchPosition(this.updatePosition);
          }

          console.log("mounted!");
        }
      });
    </script>
  </body>
</html>
